[submodule "src/DCI"]
	path = src/DCI
	url = https://github.com/Open-Systems-Pharmacology/DCI.git
[submodule "src/OSPSuite.SimModelSolverBase"]
	path = src/OSPSuite.SimModelSolverBase
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.SimModelSolverBase.git
[submodule "schema"]
	path = schema
	url = https://github.com/Open-Systems-Pharmacology/OSPSuite.SimModel.Schema.git
