<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OSPSuite.Utility" version="2.0.1.4" />
  <package id="OSPSuite.BDDHelper" version="2.0.0.1" />
  <package id="NUnit" version="3.5.0" />
  <package id="OSPSuite.SimModelSolver_CVODES282" version="3.0.1.9" />
  <package id="OSPSuite.FuncParser" version="3.0.1.9" />
</packages>