<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OSPSuite.SimModelSolver_CVODES" version="4.1.0.19" />
  <package id="OSPSuite.SimModelSolver_CVODES.Ubuntu22" version="4.1.0.19" />
  <package id="OSPSuite.SimModelSolver_CVODES.MacOSArm64" version="4.1.0.19" />
  <package id="OSPSuite.SimModelSolver_CVODES.MacOSx64" version="4.1.0.19" />
  <package id="OSPSuite.FuncParser" version="4.0.0.74" />
  <package id="OSPSuite.FuncParser.Ubuntu22" version="4.0.0.74" />
  <package id="OSPSuite.FuncParser.MacOS.Arm64" version="4.0.0.74" />
  <package id="OSPSuite.FuncParser.MacOS.x64" version="4.0.0.74" />
</packages>

